*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
}
body {
    background: #010210;
}
header {
    width: 85%;
    margin: auto;
}
header img {
    width: 3em;
    margin: 2.5em 0;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    max-width: 40em;
    margin: auto;
    text-align: left;
    height: 70vh;
    color: white;
}
h1 {
    font-weight: 400;
    margin: 13px 0;
}
form {
    display: flex;
    flex-direction: column;
}
input {
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    background: transparent;
    padding: 18px;
    margin: 24px 0;
    color: white;
}
button {
    color: black;
    border-radius: 10px;
    background: #FCA311;
    width: fit-content;
    padding: 10px 64px;
    font-weight: 700;
    font-size: 20px;
}
button:hover {
    transition: 500ms ease all;
    box-shadow: 0px 2px 12px rgba(137, 21, 21, 0.6);
}
button:active {
    background: #DE9721;
}