*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
}
body {
    background: #010210;
    width: 100%;
}
header {
    width: 85%;
    margin: auto;
}
header img {
    width: 3em;
    margin: 2.5em 0;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    max-width: 40em;
    margin: auto;
    text-align: left;
    height: 70vh;
    color: white;
}
h1 {
    font-weight: 400;
    margin: 13px 0;
}
form {
    display: flex;
    flex-direction: column;
}
input {
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    background: transparent;
    padding: 18px;
    margin: 24px 0;
    color: white;
}
button {
    color: black;
    border-radius: 10px;
    background: #FCA311;
    width: fit-content;
    padding: 10px 64px;
    font-weight: 700;
    font-size: 20px;
}
button:hover {
    transition: 500ms ease all;
    box-shadow: 0px 2px 12px rgba(137, 21, 21, 0.6);
}
button:active {
    background: #DE9721;
}

/* footer */
footer {
    background: white;
    padding: 3em;
}
footer section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: auto;
}

footer h4 {
    font-size: 22px;
    font-weight: 600;
    margin: 1em 0;
}
footer li {
    list-style-type: none;
    line-height: 25px;
}
footer a {
    text-decoration: none;
    color: black;
}
footer .rights {
    text-align: center;
}
footer .social-links {
    display: flex;
}
footer .social-links img{
    width: 24px;
    height: 24px;
    margin-right: 1em;
}
footer .phone {
    display: flex;
    margin: 2em 0;
}


@media (min-width: 768px) {
    footer section {
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        text-align: left;
        width: 100%;
        margin: auto;
            flex-basis: 100%;
    }
    footer section div:first-child p {
        width: 16em;
        margin: 2em 0;
    }
    footer h4 {
        font-size: 20px;
        font-weight: 600;
        margin: 1em 0;
    }
    footer li {
        list-style-type: none;
        line-height: 25px;
    }
    footer .rights {
        text-align: left;
    }
    footer .social-links img{
        width: 24px;
        height: 24px;
        
    }
}